<div class="p-4 w-full">
  @if (label) {
    <label
      [for]="label"
      class="block text-md text-sm text-gray-700 font-medium text-text-label mb-2">
      {{ label }}
    </label>
  }
  <div class="relative items-center flex gap-4">
    @if (image) {
      <img
        [ngSrc]="image"
        width="10"
        height="10"
        alt="icon"
        class="absolute left-3 text-primary top-1/2 transform -translate-y-1/2 w-6 h-6" />
    }
    <input
      [type]="type"
      [placeholder]="placeholder"
      [required]="required"
      [(ngModel)]="_value"
      (input)="updateValue($event)"
      [disabled]="isDisabled"
      class="w-full p-5 pl-12 text-md text-text-black rounded-lg transition-all duration-300 ease-in-out border-2 focus:outline-background focus:ring-1 bg-primary-focus" />
    <ng-content></ng-content>
  </div>
</div>
